<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MVVM模式入门</title>
</head>
<body>
<div class="app" align="center">
    <!--判断元素是否被显示，不会将元素渲染到页面上-->
    <h3>使用v-if指令渲染元素：</h3>
    <h3 v-if="yes">YES!</h3>
    <h3 v-if="no">FALSE!</h3>
    <h3 v-if="age > 35">Age:{{age}}</h3>
    <h3 v-if="name.indexOf('k') > 0">NAME:{{name}}</h3>

    <!--使用vue的show方法,和if不同的是，show始终会将元素渲染到html中，只是display设为了none，元素就不显示了-->
    <hr>
    <h3>使用v-show方法渲染元素到页面上：</h3>
    <h3 v-show="yes">YES!</h3>
    <h3 v-show="no">FALSE!</h3>
    <h3 v-show="age > 35">Age:{{age}}</h3>
    <h3 v-show="name.indexOf('k') > 0">NAME:{{name}}</h3>

    <!--使用v-else指令配合v-if和v-show使用,紧跟在if和show后面，表示如果if不满足，就会走else标签-->
    <hr>
    <h3>使用v-if和v-show配合v-else使用渲染元素：</h3>
    <h3 v-if="age > 35">Age:{{age}}</h3>
    <h3 v-else>HOME:洛阳</h3>
    <h3 v-if="name.indexOf('k') > 0">NAME:{{name}}</h3>
    <h3 v-else>Gender:男</h3>

    <!--v-for指令基于一个数组渲染一个列表，它和JavaScript的遍历语法相似,-->
    <hr>
    <h3>使用v-for指令渲染数组元素到页面上：</h3>
    <table>
        <tr v-for="item in numbers">
            <td>{{item.type}}</td>
            <td>{{item.price}}</td>
        </tr>
    </table>

    <!--v-bind指令：将html元素的属性和model中的数据绑定，因为html中的属性不能使用双大括号-->
    <hr>

</div>
</body>
<!--需要先引入vue库-->
<script src="js/vue.js"></script>
<script>
    // 创建一个vue对象，相当于组件，
    /*
    * Model-View-ViewModel模型相当于：
    * model：vue对象的data部分
    * view：vue对象的template模板，将数据显示在页面上部分
    * viewModel：用于连接view和model，相当于mvc中的control
    * */
    var vm = new Vue({
        el: ".app",
        data:{
            // 用于测试v-if和v-show
            yes:true,
            no:false,
            age:46,
            name:"keeper",
            /*用于v-for遍历元素*/
            numbers:[
                {type:"苹果", price:22},
                {type:"橘子", price:23},
                {type:"甘蔗", price:24},
                {type:"樱桃", price:25}
            ],
            /*用于测试v-bind指令绑定html元素属性*/
            classs:"center test"
        }
    })
</script>
</html>
